.movies_container{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    
}
.page_title{
    text-align: center;
    text-transform: uppercase;
    margin:10px ;
}
.remove_line{
    text-decoration: none;
}